
<div class="main-report-container">

  <!-- report form -->
  <app-report-form
    [formTitle]="'Trips by driver'"
    [drivers]="drivers"
    [medicalCenters]="medicalCenters"
    (sendFormData)="setFormData($event)"
  ></app-report-form>

  <div class="clear cl25"></div>
  <div *ngIf="tripsItems" class="clear solid"></div>
  <div class="clear cl25"></div>

  <!-- report -->
  <button *ngIf="tripsItems" (click)="handleExportPdf()"
    class="export-pdf-btn">
    Export to pdf
  </button>
  
  <div *ngIf="tripsItems" class="report-container" id="report-container">
    <div class="report-header">
      <img src="/assets/logo-sacs.png" class="header-logo" alt="logo">
    </div>
    <div *ngFor="let repDriver of tripsItems" class="rep-driver-container">
      <!-- report top info  -->  
      <div class="report-top-container">
        <div class="top-col">
          <p class="p-th">Center:</p>
          <p>{{ repDriver.reportTop.center }}</p>
          <p class="p-th">Driver:</p>
          <p>{{ repDriver.reportTop.name }}</p>
          <p class="p-th">Zone:</p>
          <p>{{ repDriver.reportTop.zone }}</p>
          <p class="p-th">Vehicle:</p>
          <p>{{ repDriver.reportTop.vehicle }}</p>
        </div>
        <div class="top-col right-by-driver">
          <h2>Route Sheet by Driver</h2>
          <div class="row-item">
            <p class="p-th">Date:</p>
            <p>{{ repDriver.reportTop.date }}</p>
          </div>
          <div class="row-item">
            <p class="p-th">Report Time Out:</p>
            <p>{{ repDriver.reportTop.timeout }}</p>
          </div>
        </div>
      </div>  
      <!-- items -->
      <div class="report-items-container">
        <div class="items-head-row">
          <p class="p-th">Trip ID</p>
          <p class="p-th">App time</p>
          <p class="p-th name-th">Patient name</p>
          <p class="p-th location-th">Pickup location</p>
          <p class="p-th">Special requirements</p>
          <p class="p-th location-th">Destination</p>
        </div>

        <div *ngFor="let tripItem of repDriver.tripsItems; let i=index" class="item-container">
          <p class="p-td">{{ tripItem.trip_id }}</p>
          <p class="p-td">{{ tripItem.pickup_time }}</p>
          <p class="p-td name-th">{{ tripItem.patient_name }}</p>
          <p class="p-td location-th">{{ tripItem.pickup_location }}</p>
          <p class="p-td">
            {{ tripItem.special_requirement }}
          </p>
          <p class="p-td location-th">{{ tripItem.destination }}</p>
          <p class="p-td phones-td">
            <span>Phones:</span> {{ tripItem.patient_phones }}
          </p>
          <p class="p-td location-th">
            <span>Comments:</span> {{ tripItem.comments }}
          </p>
          <p class="p-td phones-td">
            <span>Reason:</span> {{ tripItem.resourcename1 }}
          </p>
          <!-- <p class="p-td phones-td">
            <span>Subject:</span> {{ tripItem.reason }}
          </p> -->
        </div>

        <div class="report-totals">
          <h2>
            Vehicle: {{ repDriver.reportTop.vehicle }} --- Driver: {{ repDriver.reportTop.name }} --- 
            Total number of trips: {{ repDriver.tripsItems.length }}
          </h2>
        </div>
      </div>
      <div class="foot-container">
      </div>
    </div>
  </div>
</div>